@import "../../../common/style_var.scss";

.gal-body {
  scroll-behavior: smooth;
  background-color: white;
  .gal-img-cntr {
    background-image: url("./gallery_img.jpg");
    height: 100vh;
    width: 100vw;
    @include parallex-bg-image();
    background-position: top;
    @include align-cntr();
    .gal-box-cntr {
      padding: 100px 50px;
      height: 80vh;
      width: 80vw;
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
      overflow: hidden;
      .gal-pv-box {
        cursor: pointer;
        height: 100%;
        width: 100%;
        transition: transform 0.5s ease-in-out;
        z-index: 2;
        color: white;
        font-size: 4vw;
        @include align-cntr();
        backdrop-filter: saturate(110%) blur(10px);
        -webkit-backdrop-filter: saturate(110%) blur(10px);
      }
      .gal-pv-box:hover {
        transform: scale(1.06);
      }
      .gal-pv-box:after {
        @include link-line();
      }
      .gal-pv-box:hover:after {
        @include link-line-hover();
      }
    }
  }
  .gal-full-preview {
    .gal-section {
      margin: 10px 16px 16px 16px;
      .gal-sec-hdr {
        @include align-cntr();
        padding: 10px 25px 20px 25px;
        font-size: 24px;
      }
      .gal-sec-img-cntr {
        width: 100%;
        columns: 3;
        column-gap: 16px;
        .gal-img-wrpr {
          position: relative;
          .gal-img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            padding-bottom: 16px;
          }
        }
      }
      @media only screen and (max-width: 425px) {
        .gal-sec-img-cntr {
          columns: 1;
        }
      }
      @media only screen and (max-width: 768px) {
        .gal-sec-img-cntr {
          columns: 2;
        }
      }
    }
  }
}
