@import "../common/style_var.scss";
.header-cntr {
  height: 50px;
  background-color: $app-header-color;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0px 5%;
  position: fixed;
  width: 100%;
  opacity: 0.7;
  transition: top 0.3s;
  z-index: 9999;
  font-size: 20px;
  .nav-bar {
    width: calc(90% - 270px);
    .nav-item-cntr {
      display: flex;
      list-style: none;
      column-gap: 10px;
      justify-content: flex-end;
    }
  }
  .links {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      padding-left: 10px;
    }
  }
  @media only screen and (max-width: 425px) {
    .logo-cntr {
      width: 100px;
    }
    .nav-bar {
      width: calc(90% - 110px);
      font-size: 15px;
    }
    .links {
      .title {
        padding-left: 10px;
        display: none;
      }
    }
  }
  .links:after {
    @include link-line();
  }
  .links:hover:after {
    @include link-line-hover();
  }
}
