@import "../../../common/style_var.scss";

.contactus-section {
  height: 300px;
  @include align-cntr();
  background-color: pink;
  color: white;
  // position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url("./footer-image/footer-wedge.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.copy-right-footer {
  width: 100vw;
  background-color: black;
  @include align-cntr();
  color: white;
  bottom: 0;
  font-size: 11px;
  padding: 2px;
}
@media only screen and (max-width: 768px) {
  .copy-right-footer {
    font-size: 9px;
  }
}
