$app-font-size: 13px;

$app-header-color: #333;

$app-preview-name-color: white;

@mixin align-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin parallex-bg-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  @include align-cntr();
  background-color: white;
}
@mixin link-line {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}
@mixin link-line-hover {
  transform: scaleX(1);
  transform-origin: bottom left;
}
