@import "../../../common/style_var.scss";

.preview-section {
  background-image: url("./preview_image1.jpg");
  height: 100vh;
  @include parallex-bg-image();
  @include align-cntr();
  .preview-cntr {
    color: $app-preview-name-color;
    font-size: 6vw;
    overflow: hidden;
    height: 100vh;
    @include align-cntr();
    flex-direction: column;
    row-gap: 20px;
    .name-txt {
      padding: 0px 15px 5px 15px;
      border-top: 2px solid $app-preview-name-color;
      border-bottom: 2px solid $app-preview-name-color;
    }
    .galary-link {
      border-bottom: 2px solid $app-preview-name-color;
      font-size: 3vw;
      padding: 5px 15px;
      cursor: pointer;
      animation: fadeIn 3s;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 3s;
      animation-fill-mode: forwards;
    }
    .galary-link:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: red;
      transform-origin: bottom right;
      transition: transform 0.5s ease-in-out;
    }
    .galary-link:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
.galary-section {
  height: auto;
  color: #fff;
  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  // color: #fff;
  // background: -webkit-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  // background: -o-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  // background: -moz-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  // background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  width: auto;
  .galary-hdr-cntr {
    height: 50px;
    width: 100%;
    @include align-cntr();
  }
  .galary-all-box-cntr {
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
    // padding: 20px;
    // .cntr-1 {
    //   background-image: url("./preview_image1.jpg");
    // }
    // .cntr-2 {
    //   background-image: url("./preview_image2.jpg");
    // }
    // .cntr-3 {
    //   background-image: url("./preview_image3.jpg");
    // }
    // .cntr-4 {
    //   background-image: url("./preview_image4.jpg");
    // }
    // .cntr-5 {
    //   background-image: url("./preview_image5.jpg");
    // }
    // .cntr-6 {
    //   background-image: url("./preview_image6.jpg");
    // }
    .galary-box-cntr {
      @include parallex-bg-image();
      margin: 20px 0;
      @include align-cntr();
      .galary-box {
        width: 100%;
        height: 100vh;
        background-color: white;
        cursor: pointer;
      }
    }
  }
  .quoat-cntr {
    @include align-cntr();
    flex-direction: column;
    padding: 50px 0;
    .quoat {
      margin: 0;
      width: 60%;
      animation: fadeOutIn 10s;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      // animation-duration: 10s;
      font-family: "Lucida Handwriting";
      text-align: center;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOutIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .galary-all-box-cntr {
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .galary-box {
    width: 100%;
    height: 50vh;
    // border: 1px solid black;
    // background-color: white;
    // cursor: pointer;
  }
  // .preview-section {
  //   height: 70vh;
  // }
}
