@import "../../../common/style_var.scss";

.preview-section {
  background-image: url("./preview_img.jpg");
  height: 100vh;
  @include parallex-bg-image();
  background-position: top;
  @include align-cntr();
  .preview-cntr {
    color: $app-preview-name-color;
    font-size: 6vw;
    overflow: hidden;
    height: 100vh;
    @include align-cntr();
    flex-direction: column;
    row-gap: 20px;
    .name-txt {
      padding: 0px 15px 5px 15px;
      border-top: 2px solid $app-preview-name-color;
      border-bottom: 2px solid $app-preview-name-color;
      backdrop-filter: saturate(100%) blur(3px);
      -webkit-backdrop-filter: saturate(100%) blur(3px);
    }
    .home-gal-link {
      // border: 1px solid $app-preview-name-color;
      font-size: 3vw;
      padding: 5px 15px;
      cursor: pointer;
      animation: fadeIn 3s;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 2s;
      backdrop-filter: saturate(200%) blur(25px);
      -webkit-backdrop-filter: saturate(200%) blur(25px);
    }
  }
}
.home-gal-section {
  height: auto;
  width: auto;
  background-color: white;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .preview-section {
    background-image: url("./preview_img_mob.jpg");
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
